@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

.navbar{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
 }

.navbar-brand{
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.profile:hover{
    cursor: pointer;
    cursor: hand;
}